.full-container {
  background-color: #3A405A;
  min-height: 100vh;
  width: 100%;
  padding-top: 50px;
}

.payroll-calculator, .payroll-container {
  margin: 50px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #F9DEC9;
  padding: 20px;
  color: #3A405A;
}

.payroll-calculator h3 {
  border-bottom: 2px solid #3A405A;
  padding-bottom: 10px;
}

.payroll-calculator input, .payroll-calculator button {
  width: 80%;
  margin: 10px 10%;
  padding: 8px;
  border: 1px solid #3A405A;
  border-radius: 4px;
  background-color: white;
}

.payroll-calculator button {
  background-color: #3A405A;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.payroll-calculator button:hover {
  background-color: #2C2F47;
  color: white;
  transform: scale(1.05);
}


.payroll-container h2 {
  color: #3A405A;
  border-bottom: 2px solid #3A405A;
  padding-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 600px) {
  .full-container {
    padding-top: 30px;
  }
}

