.navbar {
  background-color: #3a405a;
  margin-bottom: 20px;
}

.top-nav {
  background-color: #3a405a;
}

.btn-search {
  background-color: #f9dec9;
  line-height: 1;
}

.btn-search:hover {
  background-color: #e9afa3;
}

form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;
}

form input {
  margin-left: 10px;
  margin-right: 10px;
}
