:host {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-employee-form {
  width: 70%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  border: none;
  z-index: 1001;
}
.add-employee-form .modal-header {
  color: black;
  border-bottom: none;
  padding-bottom: 15px;
}

.add-employee-form .modal-title {
  font-weight: 500;
  font-size: 24px;
}

.add-employee-form .modal-body {
  font-size: 18px;
  color: #555;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.add-employee-form .modal-footer {
  border-top: none;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.add-employee-form .left-inputs,
.add-employee-form .right-inputs {
  flex: 1;
  flex-basis: 0;
}

.add-employee-form .left-inputs {
  margin-right: 20px;
}

.add-employee-form input[type="text"],
.add-employee-form input[type="date"],
.add-employee-form textarea,
.add-employee-form select,
.add-employee-form input[type="email"] {
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.add-employee-form .modal-footer button {
  border-radius: 5px;
  margin-left: 10px;
}

.add-employee-form .btn-secondary {
  background-color: darkslategray;
  color: white;
  border: none;
}

.add-employee-form .btn-primary {
  background-color: #4CAF50;
  color: #fff;
  border: none;
}

.add-employee-form select.form-control option:disabled {
  display: none;
  color: #888;
}

.reports-label {
  color: #555;
  font-size: 18px;
}
