<div class="container mt-5 text-center">
    <h1 class="top-level rectangle" (click)="logEmployees()">{{ topLevelEmployees[0].name }}</h1>
      <ol class="level-2-wrapper" style="--level-2-length: {{ secondLevelEmployees.length }}">
        <li *ngFor="let secondLevelEmployee of secondLevelEmployees">
          <div class="level-2 rectangle">
            <img src="{{ secondLevelEmployee.imageUrl }}">
            <h5 class="mt-1 mb-2">{{ secondLevelEmployee.name }}</h5>
            <h5>{{ secondLevelEmployee.title }}</h5>
          </div>
        </li>
        <ol class="level-3-wrapper">
          <li>
            <h3 class="level-3 rectangle">...</h3>
          </li>
          <li>
            <h3 class="level-3 rectangle">...</h3>
          </li>
        </ol>
        <ol class="level-3-wrapper">
          <li>
            <h3 class="level-3 rectangle">...</h3>
          </li>
          <li>
            <h3 class="level-3 rectangle">...</h3>
          </li>
        </ol>
      </ol>
</div>
