<div class="container mt-5 mb-5 text-center">
  <!-- Top Level -->
  <ng-container *ngFor="let topLevelEmployee of topLevelEmployees">
    <div class="top-level rectangle">
      <img src="{{ topLevelEmployee.imageUrl }}">
      <h3 class="mt-1 mb-2">{{ topLevelEmployee.name }}</h3>
      <h5>{{ topLevelEmployee.title }}</h5>
    </div>
  </ng-container>
  <!-- End Top Level -->
  <!-- Second Level 1 -->
  <ol class="level-2-wrapper" style="--level-2-length: {{ secondLevelEmployees.length }}">
    <ng-container *ngFor="let secondLevelEmployee of secondLevelEmployees; let i = index">
      <li *ngIf="i % 2 === 0">
        <div class="level-2 rectangle">
          <img src="{{ secondLevelEmployee.imageUrl }}">
          <h3 class="mt-1 mb-2">{{ secondLevelEmployee.name }}</h3>
          <h5>{{ secondLevelEmployee.title }}</h5>
        </div>
        <!-- Third Level 1 -->
        <ol class="level-3-wrapper">
          <!-- Third Level Col 1 -->
          <ng-container *ngFor="let thirdLevelEmployee of thirdLevelEmployees; let i = index">
            <li *ngIf="thirdLevelEmployee.reportsTo === secondLevelEmployee.name && i % 2 === 0">
              <div class="level-3 rectangle">
                <img src="{{ thirdLevelEmployee.imageUrl }}">
                <h4 class="mt-1 mb-2">{{ thirdLevelEmployee.name }}</h4>
                <h6>{{ thirdLevelEmployee.title }}</h6>
              </div>
              <!-- Fourth Level -->
              <ol class="level-4-wrapper">
                <ng-container *ngFor="let fourthLevelEmployee of fourthLevelEmployees; let i = index">
                  <li *ngIf="fourthLevelEmployee.reportsTo === thirdLevelEmployee.name">
                    <div class="level-4 rectangle">
                      <img src="{{ fourthLevelEmployee.imageUrl }}">
                      <h4 class="mt-1 mb-2">{{ fourthLevelEmployee.name }}</h4>
                      <h6>{{ fourthLevelEmployee.title }}</h6>
                    </div>
                  </li>
                </ng-container>
              </ol>
              <!-- End Fourth Level -->
            </li>
          </ng-container>
          <!-- End Third Level Col 1 -->
          <!-- Third Level Col 2 -->
          <ng-container *ngFor="let thirdLevelEmployee of thirdLevelEmployees; let i = index">
            <li *ngIf="thirdLevelEmployee.reportsTo === secondLevelEmployee.name && i % 2 !== 0">
              <div class="level-3 rectangle">
                <img src="{{ thirdLevelEmployee.imageUrl }}">
                <h4 class="mt-1 mb-2">{{ thirdLevelEmployee.name }}</h4>
                <h6>{{ thirdLevelEmployee.title }}</h6>
              </div>
              <!-- Fourth Level -->
              <ol class="level-4-wrapper">
                <ng-container *ngFor="let fourthLevelEmployee of fourthLevelEmployees; let i = index">
                  <li *ngIf="fourthLevelEmployee.reportsTo === thirdLevelEmployee.name">
                    <div class="level-4 rectangle">
                      <img src="{{ fourthLevelEmployee.imageUrl }}">
                      <h4 class="mt-1 mb-2">{{ fourthLevelEmployee.name }}</h4>
                      <h6>{{ fourthLevelEmployee.title }}</h6>
                    </div>
                  </li>
                </ng-container>
              </ol>
              <!-- End Fourth Level -->
            </li>
          </ng-container>
          <!-- End Third Level Col 2 -->
        </ol>
        <!-- End Third Level 1 -->
      </li>
    </ng-container>
    <!-- End Second Level 1 -->
    <!-- Second Level 2 -->
    <ng-container *ngFor="let secondLevelEmployee of secondLevelEmployees; let i = index">
      <li *ngIf="i % 2 !== 0">
        <div class="level-2 rectangle">
          <img src="{{ secondLevelEmployee.imageUrl }}">
          <h3 class="mt-1 mb-2">{{ secondLevelEmployee.name }}</h3>
          <h5>{{ secondLevelEmployee.title }}</h5>
        </div>
        <!-- Third Level 2 -->
        <ol class="level-3-wrapper">
          <!-- Third Level 2 Col 1 -->
          <ng-container *ngFor="let thirdLevelEmployee of thirdLevelEmployees; let i = index">
            <li *ngIf="thirdLevelEmployee.reportsTo === secondLevelEmployee.name && i % 2 === 0">
              <div class="level-3 rectangle">
                <img src="{{ thirdLevelEmployee.imageUrl }}">
                <h4 class="mt-1 mb-2">{{ thirdLevelEmployee.name }}</h4>
                <h6>{{ thirdLevelEmployee.title }}</h6>
              </div>
              <!-- Fourth Level -->
              <ol class="level-4-wrapper">
                <ng-container *ngFor="let fourthLevelEmployee of fourthLevelEmployees; let i = index">
                  <li *ngIf="fourthLevelEmployee.reportsTo === thirdLevelEmployee.name">
                    <div class="level-4 rectangle">
                      <img src="{{ fourthLevelEmployee.imageUrl }}">
                      <h4 class="mt-1 mb-2">{{ fourthLevelEmployee.name }}</h4>
                      <h6>{{ fourthLevelEmployee.title }}</h6>
                    </div>
                  </li>
                </ng-container>
              </ol>
              <!-- End Fourth Level -->
            </li>
          </ng-container>
          <!-- End Third Level 2 Col 1 -->
          <!-- Third Level 2 Col 2 -->
          <ng-container *ngFor="let thirdLevelEmployee of thirdLevelEmployees; let i = index">
            <li *ngIf="thirdLevelEmployee.reportsTo === secondLevelEmployee.name && i % 2 !== 0">
              <div class="level-3 rectangle">
                <img src="{{ thirdLevelEmployee.imageUrl }}">
                <h4 class="mt-1 mb-2">{{ thirdLevelEmployee.name }}</h4>
                <h6>{{ thirdLevelEmployee.title }}</h6>
              </div>
              <!-- Fourth Level -->
              <ol class="level-4-wrapper">
                <ng-container *ngFor="let fourthLevelEmployee of fourthLevelEmployees; let i = index">
                  <li *ngIf="fourthLevelEmployee.reportsTo === thirdLevelEmployee.name">
                    <div class="level-4 rectangle">
                      <img src="{{ fourthLevelEmployee.imageUrl }}">
                      <h4 class="mt-1 mb-2">{{ fourthLevelEmployee.name }}</h4>
                      <h6>{{ fourthLevelEmployee.title }}</h6>
                    </div>
                  </li>
                </ng-container>
              </ol>
              <!-- Fourth Level -->
            </li>
          </ng-container>
          <!-- End Third Level 2 Col 2 -->
        </ol>
        <!-- End Third Level 2 -->
      </li>
    </ng-container>
  </ol>
  <!-- End Second Level 2 -->
</div>
