.admin-panel {
  width: 75%;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #3A405A;
  box-shadow: inset;
}

/* Chrome - Get rid of arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox - Get rid of arrows on number input */
input[type=number]{
  appearance: textfield;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
}

.changes {
  padding-top: 7px;
  padding-right: 20px;
  color: red;
}

.btn {
  cursor: pointer;
}

.btn-submit {
  background-color: #E9AFA3;
  color: #3A405A;
  margin-right: 15px;
  font-weight: 600;
}

.btn-submit:hover {
  background-color: #3A405A;
  color: #ededed;
}

.btn-submit:disabled {
  border: 1px solid transparent;
}

.btn-reset {
  background-color: #ededed;
  border: 1px solid #ededed;
  color: #3A405A;
  font-weight: 600;
}

.btn-reset:hover {
  background-color: darkgrey;
  color: white;
}
