.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #3A405A;
}

.auth-form {
  max-width: 400px;
  padding: 2rem;
  background: #F9DEC9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #3A405A;
}

.auth-form h2 {
  text-align: center;
  color: #3A405A;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.auth-form p {
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.auth-form input {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #333;
}

.auth-form button {
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.auth-form .btn-success {
  background-color: #28a745;
}

.auth-form .btn-success:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.auth-form .btn-secondary {
  background-color: #6C757D;
  color: #fff;
}

.auth-form .btn-secondary:hover {
  background-color: #5A6268;
  transform: scale(1.05);
}

.auth-form .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.auth-form .auth-switch-text {
  margin-right: 10px;
  align-self: center;
  color: #3A405A;
}


@media (max-width: 768px) {
  .auth-form {
      margin: 2rem;
      padding: 1.5rem;
  }
}
