<!-- Overlay -->
<div class="overlay">
  <!-- Form Container -->
  <div class="edit-employee-form">
    <!-- Form Header -->
    <div class="modal-header">
      <h4 class="modal-title">Edit Employee</h4>
      <!-- Close Button -->
      <button type="button" class="close" aria-label="Close" (click)="cancelForm(); preventOffCanvas($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Form Body -->
    <form (ngSubmit)="submitForm()" #employeeForm="ngForm">
      <div class="modal-body">
        <!-- Form Inputs for Left Section -->
        <div class="left-inputs">
          <!-- Name Input -->
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="selectedEmployee.name" class="form-control" required>

          </div>
          <!-- Title Input -->
          <div class="form-group">
            <label for="title">Title:</label>
  <input type="text" id="title" name="title" [(ngModel)]="selectedEmployee.title" class="form-control" required>
          </div>
        </div>
        <!-- Form Inputs for Right Section -->
        <div class="right-inputs">
          <!-- Email Input -->
          <div class="form-group">
            <label for="email">Email:</label>
  <input type="text" id="email" name="email" [(ngModel)]="selectedEmployee.email" class="form-control" required>
          </div>
          <!-- Image URL Input -->
          <div class="form-group">
            <label for="imageUrl">Image URL:</label>
            <input type="text" id="imageUrl" name="ImageUrl" [(ngModel)]="selectedEmployee.imageUrl" class="form-control" required>
          </div>
        </div>
      </div>
      <div class="form-group text-start">
        <label class="reports-label" for="reportsTo">Reports To:</label>
        <select name="reportsTo" [(ngModel)]="selectedEmployee.reportsTo" required>
          <option value="na">N/A</option>
          <ng-container *ngFor="let employee of employees">
            <option value="{{ employee.name }}">{{ employee.name }}</option>
          </ng-container>
        </select>
      </div>
      <!-- Footer with Buttons -->
      <div class="modal-footer">

<button type="submit" class="btn btn-primary">Save Changes</button>
<button type="button" class="btn btn-secondary" (click)="cancelForm(); preventOffCanvas($event)">Cancel</button>

      </div>
    </form>
  </div>
  </div>
