hr {
  color: white;
}

.sidebar {
  /* grid-area: sidebar; */
  height: 100vh;
}

.sidebar-div {
  width: 280px;
  height: 100%;
  background-color: #3A405A;
}

/* logo */
.logo-text {
  font-size: 35px;
  font-weight: bolder;
  color: #FCF7F8;
}

.logo-img {
  height: 50px;
  vertical-align: bottom;
  margin-bottom: 2px;
}
/* end logo */

.company-name {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

/* sidebar nav */
li {
  list-style: none;
  margin-left: 20px;
}

.btn-sidebar {
  text-decoration: none;
  color: white;
}

.btn-sidebar:hover {
  color: #F9DEC9;
}

.btn-icon {
  font-size: 30px;
  vertical-align: bottom;
}

.btn-text {
  font-size: 20px;
}
/* end sidebar nav */

/* info box */
.name {
  font-weight: bold;
  font-size: 12px;
  color: white;
}

.email {
  font-size: 12px;
  color: white;
}

.logout {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.logout:hover {
  color: #F9DEC9;
}
/* end info box */

/* media query */
@media screen and (max-width: 768px){
  .logo-text, .btn-text, .name, .email, .logout {
    display: none;
  }

  .sidebar-div {
    width: 75px;
  }

  .logo-img {
    height: 40px;
  }

  li {
    margin-left: -10px;
  }

  .row{
    width: 75px;
    margin-left: -6px;
  }
}
/* end media query */
